.widgetLg{
    flex: 2;
    -webkit-box-shadow: 0px 0px 11px -1px #9d9696; 
    box-shadow: 0px 0px 11px -1px #9d9696;
    padding: 20px;
}

.widgetLgTitle {
    font-size: 22px;
    font-weight: 600;
}

.widgetLgTable {
    width: 100%;
    border-spacing: 20px;
}

.widgetLgTh {
    text-align: left;
}

.widgetLgUser {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.widgetLgImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.widgetLgDate, .widgetLgAmount {
    font-weight: 300;
}

.widgetLgButton {
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
}

.widgetLgButton.Approved {
    background-color: #e5faf2;
    color: #3bb077;
}

.widgetLgButton.Declined {
    background-color: #fff0f1;
    color: #b03b4e;
}

.widgetLgButton.Pending {
    background-color: #ebf1fe;
    color: #3b5ab0;
}

.widgetLgButton.Cancelled {
    background-color: #feebeb;
    color: #b03b3b;
}

.widgetLgButton.PendingCancelled {
    background-color: #fef3eb;
    color: #b0643b;
}

