.category {
    flex: 4;
    padding: 20px;
}

.categoryTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categoryAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.categoryContainer {
    display: flex;
    margin-top: 20px;
}

.categoryShow {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px #9d9696; 
    box-shadow: 0px 0px 11px -1px #9d9696;
}

.categoryUpdate {
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px #9d9696; 
    box-shadow: 0px 0px 11px -1px #9d9696;
    margin-left: 20px;;
}

.categoryShowTop {
    display: flex;
    align-items: center;
}

.categoryShowImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.categoryShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.categoryShowUsername {
    font-weight: 600;
}

.categoryShowUserTitle {
    font-weight: 300;
}

.categoryShowBottom {
    margin-top: 20px;
}

.categoryShowTitle {
    font-size: 14px;
    font-weight: 600;
    color: #9d9696;
}

.categoryShowInfo {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #444;
}

.categoryShowIcon {
    font-size: 16px !important;
}
/* 
.categoryShowInfoTitle {
    margin-left: 10px;

} */

.categoryUpdateTitle {
    font-size: 24px;
    font-weight: 600;
}

.categoryUpdateForm {
    display: flex;
    justify-content: space-between;
}

.categoryUpdateItem {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.categoryUpdateItem > label {
    margin-bottom: 5px;
    font-size: 14px;
}

.categoryUpdateInput {
    width: 200px;
}

.categoryUpdateInput.name {
    border: none;
    border-bottom: 1px solid gray;
    height: 30px;
}

.categoryUpdateRight {
     display: flex;
     flex-direction: column;
    justify-content: space-between;
}

.categoryUpdateUpload {
    display: flex;
    align-items: center;

}

.categoryUpdateImg {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.categoryUpdateIcon {
    cursor: pointer;  
}

.categoryUpdateButton {
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}

