.message {
    flex: 4;
}

.messageItem {
    padding: 20px 30px;
    margin: 0 20px 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px #9d9696; 
    box-shadow: 0px 0px 7px -1px #9d9696;
}

.messageItem:hover {
    background-color: #f6f6f6;
}

.unread {
    border: 1px solid red;
}

.messageItem h2 {
    margin: 10px 0;
}

.messageItem p {

}