.topbar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}

.topRight {
    display: flex;
    align-items: center;
}


.topvarIconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.topIconBag {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}


.topbarAvatar {
    position: relative;
}

.topbarDropList {
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    background-color: white;
    list-style-type: none;
    padding: 0;
    width: 100px;
    box-shadow: 0px 0px 7px 1px #afafaf;
    border-radius: 2px;
}

.topbarDropList::before {
    content: "";
    top: 0;
    right: 5px;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    transform: translateY(-100%);
}

.topbarAvatar:hover .topbarDropList {
    display: block;
}

.topbarDropList li {
   padding: 5px 10px;
   border-bottom: 1px solid rgb(226, 226, 226);
   cursor: pointer;
}

.topbarDropList li:hover {
    background-color: rgb(233, 233, 233);
}




