.transactionList {
    flex: 4;
}

.transactionListDelete {
    color: red;
    margin-left: 10px;
}

.transactionListUpdateSelect {
    border: none;
    border-radius: 5px;
    padding: 2px 5px;
}

.transactionListDetail {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    margin-right: 20px;
}